<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACI Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard - ACI Events</h1>
                    <button id="sumbit-refresh" class="btn btn-primary mb-2">Refresh</button>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="form-inline" style="margin:2rem">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="input-work" class="sr-only">Add Work</label>
                    <input class="form-control" id="input-work">
                </div>
                <button id="sumbit-work" class="btn btn-primary mb-2">Add To Queue</button>
            </div>

            <!-- Container State Section -->
            <div id="container-wrapper" class="row"></div>


            <!-- Place holder for temp.html -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div class="modal fade" id="details-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="modal-box" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="details-name"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
    
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <canvas id="myChart" width="400" height="400"></canvas>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>


    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>

    <script>


        $(function () {

            //Save the current state of affairs 
            var current_state = new Map()

            
            // Query homebase for the current state of the instances
            setInterval(function () {
                $.get("/currentstate", function (data) {
                    
                    container_states = $.parseJSON(data)['container_states'];
                    
                    for (var i = 0; i < container_states.length; i++) {

                        //Update current state
                        container_name = container_states[i].name
                        container_state = container_states[i].state

                        if (current_state.has(container_name)){
                            console.log(container_state)
                            console.log(ConvertStateToPanel(container_state))
                            console.log(current_state.get(container_name))
                            console.log("##################")
                            $("#"+container_name + " > div").removeClass(current_state.get(container_name)).addClass(ConvertStateToPanel(container_state))
                        }
                        else{
                            $("#container-wrapper").append(GetContainerBox(container_name, ConvertStateToPanel(container_state)))
                            current_state.set(container_name, ConvertStateToPanel(container_state))
                        }
                    }
                });
            }, 1000)

            // Add new work to the queue
            $("#sumbit-work").click(function(event){
                var text = $("#input-work").val()
                $("#input-work").val('')
                

                $.ajax({
                    type: "POST",
                    url: "/sendwork",
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: JSON.stringify({ "work": text }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    failure: function (errMsg) {
                        alert("Failed to Add to Queue");
                    }
                });
            })

            // Clear the current state from Cosmos
            $("#sumbit-refresh").click(function(event){
                $.ajax({
                    type: "PUT",
                    url: "/clear"
                })
                $("#container-wrapper").empty()
            })
        

            var chartData = [{
                    period: '2010 Q1',
                    iphone: 2666,
                    ipad: null,
                    itouch: 2647
                }, {
                    period: '2010 Q2',
                    iphone: 2778,
                    ipad: 2294,
                    itouch: 2441
                }, {
                    period: '2010 Q3',
                    iphone: 4912,
                    ipad: 1969,
                    itouch: 2501
                }, {
                    period: '2010 Q4',
                    iphone: 3767,
                    ipad: 3597,
                    itouch: 5689
                }, {
                    period: '2011 Q1',
                    iphone: 6810,
                    ipad: 1914,
                    itouch: 2293
                }, {
                    period: '2011 Q2',
                    iphone: 5670,
                    ipad: 4293,
                    itouch: 1881
                }, {
                    period: '2011 Q3',
                    iphone: 4820,
                    ipad: 3795,
                    itouch: 1588
                }, {
                    period: '2011 Q4',
                    iphone: 15073,
                    ipad: 5967,
                    itouch: 5175
                }, {
                    period: '2012 Q1',
                    iphone: 10687,
                    ipad: 4460,
                    itouch: 2028
                }, {
                    period: '2012 Q2',
                    iphone: 8432,
                    ipad: 5713,
                    itouch: 1791
                }]


            //Set up model with monitoring metrics for the individule ACI
            $("#container-wrapper").on('click', ".aci-instance", function (event) {
                // console.log(current_state)
                $('#details-model').modal('toggle');

                $('#details-chart').empty()

                var testChart = Morris.Area({
                    element: 'details-chart',
                    data: chartData,
                    xkey: 'period',
                    ykeys: ['iphone', 'ipad', 'itouch'],
                    labels: ['iPhone', 'iPad', 'iPod Touch'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
                //Update chart data for the specific instance found with 'event.target.id'
            });


            // var chart = Morris.Line({
            //     // ID of the element in which to draw the chart.
            //     element: 'details-chart',
            //     // Chart data records -- each entry in this array corresponds to a point on
            //     // the chart.
            //     data: [
            //         { year: '2008', value: 20 },
            //         { year: '2009', value: 10 },
            //         { year: '2010', value: 5 },
            //         { year: '2011', value: 5 },
            //         { year: '2012', value: 20 }
            //     ],
            //     // The name of the data record attribute that contains x-values.
            //     xkey: 'year',
            //     // A list of names of data record attributes that contain y-values.
            //     ykeys: ['value'],

            //     redraw: true,
            //     // Labels for the ykeys -- will be displayed when you hover over the
            //     // chart.
            //     labels: ['Value']
            // });

        });


        function ConvertStateToPanel(state){
            switch (state) {
                case "InProgress":
                    return "panel-primary";
                case "Done":
                    return "panel-green";
                default:
                    return "panel-yellow";
            }
        }

        function GetContainerBox(name, panel_state){
            return `<div id="` + name + `" class="col-lg-2 col-md-2">
                        <div class="panel ` + panel_state + `">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div>
                                        <div >` + name + `</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span id="` + name + `-modal" class="pull-left aci-instance">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>`
        }

    </script>

</body>

</html>
